body {
    background-image: url("./game-of-thrones.jpg");
      filter: opacity (50%);
      font-family: 'game_of_thronesregular', Arial, sans-serif;
      font-weight:normal;
      font-style:normal;
      background-color: black;
      color: white;
      background-size: cover;
      background-repeat: no-repeat;
      letter-spacing: 5px;
  }